### <font color="red">Import packages </font>

In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings("ignore")

### <font color="red"> List of files that we want to merge</font>

In [2]:
all_files = glob.glob("data/bike_sharing_data/*tripdata.csv")

### <font color="red"> Read all the files</font>

In [3]:
list_of_dataframe = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_of_dataframe.append(df)

### <font color="red"> Make sure all the dataframe have the same columns</font>

In [4]:
for i in range(len(list_of_dataframe)):
    print(list_of_dataframe[i].columns)

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

### <font color="red"> Merge all the files</font>

In [5]:
merged_data = pd.concat(list_of_dataframe, axis=0, ignore_index=True)

### <font color="red"> Cast the "Start date' to datetime data type</font>

In [6]:
merged_data["Start date"]=pd.to_datetime(merged_data["Start date"])

### <font color="red"> Sort the data based on "Start date"</font>

In [7]:
merged_data=merged_data.sort_values("Start date")

In [8]:
merged_data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
1257109,892,2018-02-01 00:01:29,2018-02-01 00:16:21,31312,Wisconsin Ave & O St NW,31267,17th St & Massachusetts Ave NW,W21967,Member
1257110,501,2018-02-01 00:04:19,2018-02-01 00:12:40,31089,Court House Metro / 15th & N Uhle St,31079,Lee Hwy & N Cleveland St,W00938,Member
1257111,788,2018-02-01 00:05:03,2018-02-01 00:18:12,32048,Bethesda Metro,31315,McKinley St & Connecticut Ave NW,W00792,Member
1257112,406,2018-02-01 00:18:11,2018-02-01 00:24:57,31224,19th & L St NW,31214,17th & Corcoran St NW,W21087,Member
1257113,161,2018-02-01 00:18:11,2018-02-01 00:20:53,31126,11th & Girard St NW,31115,Columbia Rd & Georgia Ave NW,W01068,Member

In [9]:
merged_data.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
2940797,139,2020-02-29 23:56:58,2020-02-29 23:59:17,31917,N Lynn St & Fairfax Dr,31014,Lynn St & 19th St North,W20054,Member
2940798,388,2020-02-29 23:57:00,2020-03-01 00:03:29,31236,37th & O St NW / Georgetown University,31246,M St & Pennsylvania Ave NW,W00422,Member
2940799,373,2020-02-29 23:58:42,2020-03-01 00:04:56,31283,14th & L St NW,31299,Connecticut Ave & R St NW,W20970,Member
2940800,597,2020-02-29 23:58:58,2020-03-01 00:08:55,31214,17th & Corcoran St NW,31503,Florida Ave & R St NW,W00419,Member
2940801,983,2020-02-29 23:59:19,2020-03-01 00:15:43,31125,15th & W St NW,31207,Georgia Ave and Fairmont St NW,W21388,Casual

### <font color="red"> Select only the important attributes</font>

In [10]:
merged_data=merged_data[['Duration','Start date','End date','Start station number','Member type']]

### <font color="red"> Write the data to csv file</font>

In [12]:
merged_data.to_csv('data/bike_sharing_data/merged_data.csv',index=False)